block content
    .juno-card
        .juno-card-header
            .juno-card-header-badge
                    img(src=entry.userImg)
            .juno-card-header-left
                .juno-card-header-title
                    p.juno-card-header-title-text #{entry.name}
                .juno-card-header-subtitle
                    p.juno-card-header-subtitle-text #{entry.time}
        .juno-card-body
            .juno-card-body-badge
                img(src=entry.badgeImg)
                .juno-card-body-badge-review 
                    h2.juno-card-body-badge-review-text #{entry.badgeTitle}
                    .juno-card-body-badge-review-stars
                        each star in [...Array(entry.stars)]
                            span.juno-card-body-badge-review-star &#9733
            .juno-card-body-comment
                p.juno-card-body-comment-text #{entry.comment}